<h1>Examples index</h1>
<button>Button</button>
<p id='user-activity-subscription-message'></p>
<p id='admin-supervision-subscription-message'></p>
<p id='admin-supervision-user-status'></p>
<p id='admin-supervision-rejected-message'></p>